PORT=8080
ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=telemetry
DB_SSLMODE=disable

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=sua_access_key
AWS_SECRET_ACCESS_KEY=sua_secret_key

NATS_URL=nats://localhost:4222
NATS_GYROSCOPE_TOPIC=gyroscope.telemetry
NATS_GPS_TOPIC=gps.telemetry
NATS_PHOTO_TOPIC=photo.telemetry
NATS_RETRY_ATTEMPTS=3
NATS_RETRY_DELAY=5
NATS_DEAD_LETTER_TOPIC=telemetry.deadletter